﻿﻿<%@ Page Title="" Language="C#" MasterPageFile="~/assets/MasterPage.master" AutoEventWireup="true" CodeFile="Form.aspx.cs" Inherits="Document_Form" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderTitle" Runat="Server">
    <asp:Label ID="LabelTitle" runat="server"></asp:Label>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Company</label>
                        <asp:DropDownList ID="ListCompany" CssClass="form-control" runat="server" Width="100%"></asp:DropDownList>
                    </div>
                    <div class="col-md-6">
                        <label>DocumentCategory</label>
                        <asp:DropDownList ID="ListCategory" CssClass="form-control" runat="server" Width="100%"></asp:DropDownList>
                    </div>
                </div>
            </div>
            
            <div class="form-group mb-2">
                <label>Name</label>
                <asp:TextBox ID="InputName" runat="server" CssClass="form-control"></asp:TextBox>
            </div>
             <div class="form-group mb-2">
                <label>Description</label>
                <asp:TextBox ID="InputDescription" runat="server" CssClass="form-control"></asp:TextBox>
            </div>
            <asp:Button ID="ButtonOk" CssClass="btn btn-success btn-sm" runat="server" Text="Add New" OnClick="ButtonOk_Click" />
            <a href="Default.aspx" class="btn btn-danger btn-sm">Cancel</a>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolderJavascript" Runat="Server">
</asp:Content>

